@import 'variables';
@import 'typography';
@import 'mixins';

.footer {
  background-color: $dark;
  height: 200px;
  width: 100%;
  color: white;
  @include row;
  align-items: center;
  justify-content: space-evenly;
}

.footer-mobile {
  width: 100%;
  @include center;
  background-color: $dark;
  height: 96px;
}
