@import 'variables';
@import 'typography';
@import 'mixins';

.header {
  @include row;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: $dark;
  width: 100%;
  height: 120px;
}

.header-mobile {
  @include row;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: $dark;
  width: 100%;
  height: 63px;
}
