@import 'variables';
@import 'typography';

.label {
  display: flex;
  margin-bottom: 0.5rem;
}

.input-field {
  background-color: white;
  min-width: 200px;
  padding: 0.5rem;
  border-style: solid;
  border-color: $light;
  border-width: 8px;
}

.search-field {
  background-image: url('../../toolkit/images/search-icon.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-color: white;
  min-width: 300px;
  padding: 0.7rem;
  border-style: solid;
  border-color: $light;
  border-width: 8px;
}

.select-input {
  width: 200px;
  height: 70px;
  border-style: none;
  border-right: solid $softBlack;
  border-width: 1.5px;
  font-family: 'Maven Pro', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
