@import 'variables';

.link {
  color: white;
  text-decoration: none;
  padding: 1.5rem;
  font-size: 24px;

  &.active {
    color: $yellow;
  }
}

.link-dark {
  color: $softBlack;
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem;
  font-size: 24px;

  &.active {
    color: $yellow;
  }
}
