@import 'mixins';

.logo {
  @include row;
  align-items: center;
  background-color: $dark;
  height: 120px;
  color: white;
}

.footer-logo {
  @include center;
  align-items: center;
  background-color: $dark;
  height: 120px;
  color: white;
  margin-left: -12rem;
}

.bonzai-image {
  height: 80%;
  margin: 4px;
}

.logo-slogan {
  @include center;
  background-color: rgb(110, 109, 109);
  color: white;
  align-items: flex-end;
  padding-right: 4rem;
}
