@mixin row {
  display: flex;
  flex-direction: row;
}

@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin box-shadow {
  box-shadow: 1px 3px 3px $blueGrey;
}

@mixin layout-grid($breakpoint) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 1rem;

  @if $breakpoint == mobile {
    @media only screen and (max-width: 480px) {
      grid-template-columns: 100%;
    }
  }
}
