@mixin row {
  display: flex;
  flex-direction: row;
}

@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin box-shadow {
  box-shadow: 1px 3px 3px $blueGrey;
}
